[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:Frillion/Neovim-Config.git

[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh	
	url = https://github.com/ohmyzsh/ohmyzsh.git 

[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm	
        url = https://github.com/tmux-plugins/tpm 

[submodule "tmux/.tmux/plugins/tmux-themepack"]
	path = tmux/.tmux/plugins/tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git

[submodule "tmux/.tmux/plugins/vim-tmux-navigator"]
	path = tmux/.tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "awww"]
	path = awww/awww
	url = https://codeberg.org/LGFae/awww.git
[submodule "yay-bin"]
	path = yay-bin
	url = https://aur.archlinux.org/yay-bin.git
